@import 'lib'

section
    width: 100%
    height: 100%

.auth-form
    position: absolute
    border: 1px solid black
    border-radius: 5px
    width: 90%
    left: 5%
    background-color: $clr-header-bg
    color: white
    top: 3em

.auth-form input
    display: inline-block
    font-size: 40%
    width: 90%
    margin-left: 5%
    height: 2em
    padding: 0.3em
    border: 1px solid black
    border-radius: 5px
    margin-top: 0.4em

.auth-form span
    font-size: 40%
    padding: 1em
    text-align: center
    display: inline-block

.auth-form img
    display: none

#submit-button
    background-color: $clr-green
    color: white
    text-align: center
    margin-top: 1em
    margin-bottom: 1em
    cursor: pointer

.auth-form input:focus
    background-color: lightGrey
    color: black

#submit-button:hover
    background-color: $clr-purple

.warning
    background-color: #ff4c4c
    color: white

@media only screen and (min-width: 600px)
    .auth-form
        width: 70%
        left: 15%

    .auth-form span
        display: inline-block
        border-bottom: none
        margin-top: 0.4em
        margin-bottom: 1.5em
        color: white

    .auth-form img
        display: none

@media only screen and (min-width: 800px)
    .auth-form
        width: 50%
        left: 25%
        padding: 1em

    .auth-form input
        display: inline-block
        font-size: 60%
        width: 90%
        margin-left: 5%
        height: 2em
        padding: 0.3em
        border: 1px solid black
        border-radius: 5px
        margin-top: 0.4em

    .auth-form img
        display: inline-block

    .auth-form span
        display: inline-block
        font-size: 70%
        width: 90%
        margin-left: 5%
        height: 3em
        padding: 0.3em
        margin-top: 0.4em
        margin-bottom: 1.5em
        color: white

    .auth-form img
        margin-right: 1em
        border-right: 2px solid white
        padding-right: 0.5em
