@import "lib"

.right-side
    width: 75%
    height: 100%

.the-form
    padding: 1em
    font-size: 50%
    width: 100%
    height: 100%
    overflow-y: scroll
    display: block

.form-title
    font-weight: bold
    text-align: center
    width: 100%
    margin: 2em 0em
    color: $clr-purple

.the-form label, .the-form input
    margin-top: 0.5em
    display: block
    width: 45%
    float: left
    font-size: 70%
    padding: 0.5em
    height: 3em

.the-form label
    text-align: right
    padding-right: 3em

.the-form input
    border: 1px solid grey

.the-form .submit-button
    color: white
    font-weight: bold
    color: white
    font-weight: bold
    background-color: $clr-purple

.the-form .submit-button:hover
    background-color: $clr-header-bg

.the-form fieldset
    border: none
    padding: 0px
    width: 100%
    height: 100%

.the-form .form-line
    display: inline-block
    width: 100%
