@mixin cross-browser($key, $value)
    -moz-#{$key}: $value
    -o-#{$key}: $value
    -webkit-#{$key}: $value
    -ms-#{$key}: $value
    #{$key}: $value

$clr-orange: rgb(254,180,75)
$clr-blue: rgb(1,185,247)
$clr-green: rgb(78,198,134)
$clr-red: rgb(254,27,0)
$clr-purple: rgb(92,107,192)
$clr-header-bg: rgb(54,66,74)

* *
    @include cross-browser(box-sizing, border-box)

html, body
    width: 100%
    font-family: sans-serif
    font-size: 50px
    margin: 0px

.hidden
    display: none

.hover
    @include cross-browser(box-shadow, 0px 0px 3px 1px black)

.underline
    text-decoration: underline

header, footer
    background-color: $clr-header-bg
    color: white
    font-size: 50%
    height: 5em
    padding: 1em
    text-align: center

header a
    text-decoration: none
    color: white

header a:hover
    text-decoration: underline

footer
    margin-top: 1em
    padding-top: 2em

main
    position: absolute
    width: 100%
    height: 100%


ul
    list-style-type: none

li
    width: 95%
    margin: 0px
    cursor: pointer
    color: white
    padding: 0.5em
    margin: 0.2em
    @include cross-browser(transition, all 0.5s)
    border-bottom: 1px solid rgb(64, 78, 88)

li:hover
    background-color: $clr-purple
    color: white

aside
    float: left

.left-side
    width: 25%
    background-color: $clr-header-bg
    height: 100%
    overflow-y: scroll
    @include cross-browser(user-select, none)

.outer-list, h4
    width: 100%
    padding: 0px
    margin: 0px
    font-size: 33%

ul ul
    font-size: 90%

.left-side h4
    background-color: $clr-purple
    color: white
    font-size: 50%
    font-weight: normal
    padding: 0.5em

.left-side .date
    color: white
    font-size: 30%
    padding: 0.5em
    border-top: 1px solid rgb(64, 78, 88)
    border-bottom: 1px solid rgb(64, 78, 88)
    width: 100%
    display: inline-block
    margin-bottom: 1em
