@import 'lib'
@import 'pikaday'

.right-side
    width: 75%
    height: 100%
    overflow-y: scroll

.date img
    cursor: pointer
    margin-bottom: -10px

.date .date-input
    padding-left: 0.3em
    margin-right: 1em

.date select
    padding: 0.3em

.table-type
    display: inline-block
    width: 100%
    font-size: 30%
    padding: 0.5em
    margin-bottom: 3em
    background-color: $clr-purple
    color: white
    font-weight: bold

.right-side td, .right-side th
    border: 1px solid black
    height: 2em
    padding: 0.5em
    text-align: left

.the-table th
    background-color: $clr-purple
    color: white

.the-table
    width: 80%
    margin: 10%
    font-size: 40%
