@import 'lib'

.logo
    display: inline-block
    width: 2em
    height: 2em
    background-image: url(../img/logo.png)
    background-size: auto 100%
    margin: 0em 1em

main
    width: 100%
    height: 64em
    font-size: 50%

.menu-button
    display: block
    float: left
    width: 90%
    height: 20em
    margin-left: 5%
    padding: 5%
    text-align: center
    color: black
    cursor: pointer
    margin-top: 1em
    text-decoration: none

.menu-button-1
    background-color: $clr-blue

.menu-button-2
    background-color: $clr-green

.menu-button-3
    background-color: $clr-orange

.menu-button:hover
    background-color: $clr-purple
    color: white

/*FOR TABLET*/
//@media only screen and (min-width: 600px)


/*FOR DESKTOP PC*/
@media only screen and (min-width: 768px)
    main
        height: 22em

    .menu-button
        width: 30%
        margin-left: 2%
